%div#subsequentpages
  %div#container
    %h1
      NO OBLIGATION QUOTATION
    %p#sel_prod_intro
      By entering your details to solarprice.com.au, you are in no way obliged or under any way required to purchase
      solar power or solar hot water systems from our suppliers. We will never pass your details onto any other parties
      except the solar retailers that will quote on your system. Once you have entered your details, we will pass them
      onto our 'trusted' suppliers who will provide you with a quote.
    = render :partial => 'form'