body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 13px;
  color: #161616;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#pageback{
  width: 800px;
  height: 600px;
  background-image: url(../../images/pageback.png);
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
}
#firstpageback{
  width: 800px;
  height: 445px;
  background-image: url(../../images/firstpageback.png);
  margin-left: auto;
  margin-right: auto;
  padding-top: 155px;
  background-repeat: no-repeat;
}
#subsequentpages{
  /*width: 800px;
  height: 600px;
  padding-top: 165px;*/
}


#container {
  width: 800px;
  margin: 0 auto;
  padding: 0px;
  padding-top: 90px;
}

#container td {
  color:#161616;
  font-family:Verdana,Helvetica,Arial;
  font-size: 13px;
  font-weight: normal;
}
#container th {
  color:#161616;
  font-family:Verdana,Helvetica,Arial;
  font-size: 13px;
  font-weight: normal;
}

/*************************************************************/
/*** NEW SUPPLIER PAGE                                     ***/
/*************************************************************/
/*#postcodes{
  height: 150px;
}*/
#new_supplier{
  padding-left: 20px;
}

#bus-dtls{
  padding-left: 55px;
}
#supp-wide{
  width: 780px;
  height: 105px;
}
#coverage{
  width: 780px;
  height: 90px;
  margin: 0px;
  padding-left: 55px;
}
.supp-new-l{
  width: 325px;
  height: 95px;
  float: left;
  padding-left: 55px;
}
.supp-new-r{
  width: 380px;
  height: 95px;
  float: right;
}
/*************************************************************/
/*** POSTCODE PAGE                                         ***/
/*************************************************************/

#menu_bar_fp{
  padding-right: 10px;
  text-align: right;
}
#menu_bar_fp a {
  color: green;
}



#new_postcode{

  background-image: url(../../images/fp.png);
  width: 800px;
  height: 333px;
  text-align: center;
}

#postcode_postcode{
  margin-top: 245px;
}

#postcode_submit{
  height: 49px;
  width: 198px;
  background-image: url(../../images/btn_enter_postcode.png);
}

/*************************************************************/
/*** SELECT PRODUCTS PAGE                                  ***/
/*************************************************************/

#new_select_product{
  width: 775px;
  height: 333px;
  text-align: left;
  padding-left: 20px;
}

#select_product_timeframe{
  /*color: green;*/
  background-color: white;
  font-size: 16px;
}

#select_product_submit{
  margin-top: 110px;
}
/*************************************************************/
/*** SITE DETAILS PAGE                                     ***/
/*************************************************************/

#new_site_details{
  width: 775px;
  height: 333px;
  text-align: left;
  padding-left: 20px;

}
#site_details_submit{
  margin-top: 25px;
}
/*************************************************************/
/*** SITE SURVEYS PAGE                                     ***/
/*************************************************************/
#new_site_survey {
  height:430px;
  padding-left:20px;
  text-align:left;
  width:775px;
}

.survey-l{
  width: 49%;
  float: left;
}
.survey-r{
  width: 49%;
  float: left;
}
#survey-other{
  width: 49%;
  float: left;
}

.survey-roof{
  width: 49%;
  float: left;
}


#new_site_survey .nextdiv {
  /* position: absolute;*/
  /*  background-color: pink;*/
  /*  margin-top: 600px;*/
}

/*************************************************************/
/*** FREE REPORT PAGE                                      ***/
/*************************************************************/
#new_free_report {
  height:333px;
  padding-left:20px;
  text-align:left;
  width:775px;
}

#survey-other{
  top: 15px;
  width: 750px;
  position: relative;
}

/*************************************************************/
/*  EDIT SUPPLIER PAGE                                       */
/*************************************************************/

.edit_supplier {
  height:375px;
  padding-left:20px;
  text-align:left;
  width:775px;
}

.supp-l{
  width: 325px;
  height: 385px;
  float: left;
  padding-left: 25px;
}
.supp-r{
  width: 400px;
  height: 385px;
  float: right;
}
.supp-controls{
  border: 1px gray solid;
  width: 345px;
  background-color: #fead5b;
}
.supp-spacer{
  border: none;
  height: 5px;
  width: 345px;
  background-color: none;
}
.supp-pcs{
  border: 1px gray solid;
  width: 345px;
  background-color: none;
}
.pc-check {
  display: inline-block;
  width: 55px;
  background-color: #e4e4e4;
  padding: 1px;
  border-right: 2px solid white;
  border-bottom: 4px solid white;
}


/*************************************************************/
/*** OTHER STUFF                                           ***/
/*************************************************************/

h1{
  color: green;
  font-size: 26px;
  font-weight: bold;
  padding-left: 20px; 
}
h2{
  color: white;
  background-image: url(../../images/h2-back.png);
  background-repeat: no-repeat;
  padding-left: 15px;
}
h3{
  color: green;
  font-size: 14px;
  font-weight: bold;
  padding-left: 20px;
}
h4{
  color: black;
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
  margin-top: 7px;
  margin-bottom: 5px;
}

p{
  font-size: 13px;
  font-weight: normal;
  padding-left: 20px;
}
.nextdiv{
  padding-right: 30px;
  text-align: right;
}

.next{
  height: 37px;
  width: 88px;
  background-image: url(../../images/btn_next.png);
}

.option_label{
  font-size: 16px;
  line-height: 30px;
  padding-left: 20px;
}

.greentext {
  color: green;
}



/*************************************************************/
/*** OTHER                                                 ***/
/*************************************************************/


#flash{
  top: 5px;
  margin: auto;
  position: absolute;
}


#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}


/*****************/

.fieldWithErrors {
  display: inherit ;
}

/*#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}
*/


#errorExplanation {
  width: 400px;
  border: 2px solid #1d65b5;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  height: 0px;
  text-align: left;
  font-weight: bold;
  padding: 0px;
  /*padding: 5px 5px 5px 15px;*/
  font-size: 12px;
  margin: 0;
  background-color: #1d65b5;
  color: #F0F0F0;
  background: none;
}

p {
  margin-top: 5px;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}




#admin_menu {
  color: white;
  height:30px;
  margin-left:auto;
  margin-right:auto;
  width:785px;
  border-top: 2px silver solid;
  background-color: red;
  text-align: right;
  padding-right: 15px;
  padding-top: 5px;
}

#admin_menu a {
  color: white;
}

#privacylink{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: grey;
  text-align: right;
}

#privacylink a {
  color: silver;
}

#privacy{
  color: green;
  font-size: 1.5em;
  padding-top: 200px;
  padding-left: 50px;
  padding-right: 50px;
}


/*******************************************/
/* Login Frame                             */
/*******************************************/

#login-frame{
  width: 800px;
  height: 600px;
  text-align: center;
  padding-top: 170px;
}
#login-warning{
  height: 26px;
  padding-top: 7px;
  background-color: red;
  color: white;
  font-weight: bold;
}

/*******************************************/
/* Supplier Listing                        */
/*******************************************/
#supplier_head {
  width: 600px;
  height: 26px;
  padding-top: 7px;
  background-color: #4B7399;

}
#h-supplier{
  width: 150px;
  text-align: left;
  background-color: #4B7399;
  color: white !important;
  font-weight: bold !important;
  padding-left: 5px;
  padding-right: 5px;
}
#h-contact{
  width: 150px;
  text-align: left;
  background-color: #4B7399;
  color: white !important;
  font-weight: bold !important;
  padding-left: 5px;
  padding-right: 5px;
}
#h-phone{
  width: 70px;
  text-align: left;
  background-color: #4B7399;
  color: white !important;
  font-weight: bold !important;
  padding-left: 5px;
  padding-right: 5px;
}
#h-suburb{
  width: 100px;
  text-align: left;
  background-color: #4B7399;
  color: white !important;
  font-weight: bold !important;
  padding-left: 5px;
  padding-right: 5px;
}
#h-state{
  width: 50px;
  text-align: left;
  background-color: #4B7399;
  color: white !important;
  font-weight: bold !important;
  padding-left: 5px;
  padding-right: 5px;
}
#h-active{
  width: 25px;
  text-align: left;
  background-color: #4B7399;
  color: white !important;
  font-weight: bold !important;
  padding-left: 5px;
  padding-right: 5px;
}

.supplier_data_row {
  
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #b5b5b5;
}

#supplier-tbl td {
  padding-left: 5px;
}


/*******************************************/
/* Leads Listing  (/postcodes)             */
/*******************************************/
#lead-tbl-outer{
  padding-left: 20px;
}

#leads_head {
  width: 600px;
  height: 26px;
  padding-top: 7px;
  background-color: #4B7399;
}

#h-lead-dt{
  width: 100px;
  text-align: left;
  background-color: #4B7399;
  color: white !important;
  font-weight: bold !important;
  padding-left: 5px;
  padding-right: 5px;
}

#h-lead-pc{
  width: 65px;
  text-align: left;
  background-color: #4B7399;
  color: white !important;
  font-weight: bold !important;
  padding-left: 5px;
  padding-right: 5px;
}

#h-lead-elec{
  width: 50px;
  text-align: left;
  background-color: #4B7399;
  color: white !important;
  font-weight: bold !important;
  padding-left: 5px;
  padding-right: 5px;
}
#h-lead-hw{
  width: 50px;
  text-align: left;
  background-color: #4B7399;
  color: white !important;
  font-weight: bold !important;
  padding-left: 5px;
  padding-right: 5px;
}
#h-lead-tf{
  width: 150px;
  text-align: left;
  background-color: #4B7399;
  color: white !important;
  font-weight: bold !important;
  padding-left: 5px;
  padding-right: 5px;
}
#h-lead-name{
  width: 150px;
  text-align: left;
  background-color: #4B7399;
  color: white !important;
  font-weight: bold !important;
  padding-left: 5px;
  padding-right: 5px;
}

.lead_data_row {

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #b5b5b5;
}

#lead-tbl td {
  padding-left: 5px;
}

/*************************************************************/
/*           popup.js                                        */
/*************************************************************/

div.popup {
  max-width: 600px;
  border: 1px solid red;
  padding: 5px;
  background-color: white;
  /* The following properties should not be changed */
  position: absolute;
}

#popup_overlay {
  background-color: whitesmoke;
  /* The following properties should not be changed */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
}

span.popup_link, a.popup_link {
  cursor: pointer;
  border-bottom: 1px dotted;
}

.popup_draghandle {
  cursor: move;
}