body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 13px;
  color: #161616;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#pageback{
  width: 800px;
  height: 600px;
  background-image: url(../../images/pageback.png);
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
}
#firstpageback{
  width: 800px;
  height: 600px;
  background-image: url(../../images/firstpageback.png);
  margin-left: auto;
  margin-right: auto;
  padding-top: 165px;
  background-repeat: no-repeat;
}
#subsequentpages{
  /*width: 800px;
  height: 600px;
  padding-top: 165px;*/
}


#container {
  width: 800px;
  margin: 0 auto;
  padding: 0px;
  padding-top: 90px;
}

/*************************************************************/
/*** POSTCODE PAGE                                         ***/
/*************************************************************/

#new_postcode{

  background-image: url(../../images/fp.png);
  width: 800px;
  height: 333px;
  text-align: center;
}

#postcode_postcode{
  margin-top: 245px;
}

#postcode_submit{
  height: 49px;
  width: 198px;
  background-image: url(../../images/btn_enter_postcode.png);
}

/*************************************************************/
/*** SELECT PRODUCTS PAGE                                  ***/
/*************************************************************/

#new_select_product{
  width: 775px;
  height: 333px;
  text-align: left;
  padding-left: 20px;
}

#select_product_timeframe{
  /*color: green;*/
  background-color: white;
  font-size: 16px;
}

#select_product_submit{
  margin-top: 110px;
}
/*************************************************************/
/*** POSTCODE PAGE                                         ***/
/*************************************************************/
/*************************************************************/
/*** POSTCODE PAGE                                         ***/
/*************************************************************/
/*************************************************************/
/*** POSTCODE PAGE                                         ***/
/*************************************************************/

h1{
  color: green;
  font-size: 26px;
  font-weight: bold;
  padding-left: 20px; 
}
h2{
  color: white;
  background-image: url(../../images/h2-back.png);
  background-repeat: no-repeat;
  padding-left: 15px;
}


p{
  font-size: 13px;
  font-weight: normal;
  padding-left: 20px;
}
.nextdiv{
  text-align: center;
}

.next{
  height: 37px;
  width: 88px;
  background-image: url(../../images/btn_next.png);
}

.option_label{
  font-size: 17px;
  line-height: 30px;
}
/*************************************************************/
/*** OTHER                                                 ***/
/*************************************************************/

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}
