<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<title>Thank you from mysolarprice.com.au</title>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>mysolarprice.com.au - Your Free Report</title>
</head>
<body>
  <p>Dear <%= @site_details.first_name%>,</p>
  <p>Thank you for asking for your report from mysolarprice.com.au.</p>
  <p>You may collect your free report from <a href="http://www.mysolarprice.com.au/freereport.pdf">here</a>
  </p>
  <p>Warmest regards,</p>
  <p>The mysolarprice team</p>
</body>
</html>