<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<title>Thank you from mysolarprice.com.au</title>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>mysolarprice.com.au - Confirmation of Enquiry</title>
</head>
<body>
  <p>Dear <%= @site_details.first_name%>,</p>
  <p>Thank you for enquiring about quotes on solar technologies. We are delighted you have chosen us to help you.</p>
  <p>Suppliers that service your area will be in contact with you soon.</p>
  <p>Warmest regards,</p>
  <p>The mysolarprice team</p>
</body>
</html>