<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Underserviced Notice:  Insufficient suppliers matched at mysolarprice.com.au</title>
</head>
<body>
  <%= @x.site_details.first_name%><%= @x.site_details.last_name%> has had less than tyhe specificed number of matches. 
</body>
</html>